.Home .lander {
    padding: 80px 0;
    text-align: center;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.Home .lander p {
    color: #999;
}

#goToExercise {
    padding-top: 10px;
}

.plant {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    background-color: #dabb3f;
    color: #ffffff;
}